
@model List<ISR.web.Models.RoleViewModel>
<table id="tblAllRoles" class="table table-responsive-sm table-bordered text_align_center_tbls">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ردیف</th>
            <th scope="col">نام نقش</th>
            <th scope="col">وضعیت</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() > 0)
        {
            var bgcolor = "class=table-success";
            for (int i = 0; i < Model.Count; i++)
            {
                bgcolor = (i % 2) == 0 ? "class=table-success" : "class=table-danger";
                <tr @bgcolor>
                    <td>@(i + 1)</td>
                    <td>@Model[i].DisplayName</td>
                    <td>@Model[i].Active</td>
                    <td>
                        <a href=""  class="btn btn-info a_edit_role" data-id="@Model[i].RoleId" data-actiontype="6">ویرایش</a> |
                        <a href=""  class="btn btn-danger a_delete_role" data-id="@Model[i].RoleId" data-actiontype="7">حــذف</a>                        
                    </td>
                </tr>
            }

        }
    </tbody>
</table>
